nav {
    background-image: url('../resources/Banner\ Image.png');
    background-repeat: no-repeat;
    text-align: center;
    background-position: center;
    border-radius: 25px;

}



.banner-title {
    color: cadetblue;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
    padding-top: 177px;
}

.banner-info {
    color: cadetblue;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    margin-top: 16px;
    padding-bottom: 177px;
}

/* discount related styles */
.off {
    color: #F00;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    margin-top: 120px;

}

.offer {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-top: 48px;
}

.category {
    color: #070211;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    padding-top: 1px;
    margin-top: 1px;

}

.photo,
.discount {
    text-align: center;
}

.midnight-party {
    background-image: url('../resources/Vectorrr.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 25px;
    /* height: 600px;
    width: 1320px;
    margin-left: 780px; */
    flex-direction: column;
    margin-right: 1000px;
    margin-left: 300px;
    width: 2220px;
    height: 1000px;
    text-align: center;
    justify-content: center;
    padding-bottom: 200px;



}

.party-title {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;

}

.btn {
    margin-bottom: 142px;
    background-color: rgb(105, 105, 44);
    border-radius: 10px;
    border: 0px;
    padding: 10px;
    color: rgb(208, 208, 184);
}

.party-description {
    color: yellow;
    font-family: Inter;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
}

.pic {
    display: flex;
    align-items: center;
    padding-left: 1710px;
    padding-top: 200px;
}

.new-year {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
    background-color: rgb(213, 200, 200);
    margin-top: 100px;
    margin-left: 385px;
    margin-right: 386px;
    margin-bottom: 214px;
}

.btn-2 {
    border-radius: 8px;
    background: #F00;
    border: 0;
    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #FFF;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 100px;

}

.offer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFF;
    margin-right: 220px;
    margin-left: 200px;
    margin-top: 2px

}

.left-section,
.right-section {
    max-width: 400px;
    padding: 20px;
    text-align: center;
}

.best {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;

}

#soon {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}
#offer{
    color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 25px;
font-weight: 400;
}
#year{
    color: #F00;
font-family: Inter;
font-size: 48px;
font-weight: 700;
}
#year-1{
    color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 25px;
font-weight: 400;
line-height: 32px; 
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    
}

.circle {
    width: 600px;
    height: 600px;
    border-radius: 600px;
    border: 15px solid #F00;
  }
  .circle img{
    text-align: center;
    display: flex;
    justify-content: center;
    padding-left: 50px;
    padding-top: 60px;
    
    
  }
  .sale{
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #FFF;
    margin-right: 300px;
    margin-left: 250px;
  }
  #unique{
    color: #070211;
font-family: Inter;
font-size: 50px;
font-weight: 500;
  }
  .text{
    color: #070211;
font-family: Merriweather;
font-size: 72px;
font-style: normal;
font-weight: 900;
line-height: normal;
  }
  .holiday{
    color: #F00;
text-align: center;
font-family: Merriweather;
font-size: 72px;
font-weight: 900;
  }
  .ready{
    color: rgba(7, 2, 17, 0.60);
text-align: center;
font-family: Inter;
font-size: 35px;
font-weight: 500;
line-height: 32px; 
  }
  .body{
    margin: 0;
  padding: 0;
  }
  .image-container{
    position: relative;
  }
  .group44, .height{
display: inline;
text-align:center;
align-items: center;
justify-content: end;
  }


  
  
  
  












.intro {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    padding-left: 190px;
}

.awesome {
    color: #070211;

    font-family: Merriweather;
    font-size: 48px;

    font-weight: 900;
    padding-left: 190px;
    text-transform: capitalize;
}

.description {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    padding-left: 190px;

}

.full {
    text-align: justify;
    margin-left: 200px;
    justify-content: center;
}

.bag {
    padding-left: 180px;
    padding-bottom: 20px;
    /* margin-left: 100px; */
    border-radius: 8px;
}

.bag2 {
    padding-bottom: 20px;
    padding-left: 20px;
}

.bag3 {
    padding-bottom: 20px;
    padding-left: 20px;
}

.bag1 {
    padding-left: 180px;
}

.bag4 {
    padding-left: 20px;
}

.bag5 {
    padding-left: 20px;
}

.subscribe {
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    text-align: center;
    margin-top: 140px;
    margin-right: 350px;
    margin-left: 350px;
}

.news {
    color: #070211;

    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}

.policy {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 30px;
    font-weight: 400;
    line-height: 32px;
}

.each {
    border-radius: 50px;
    background: #FFF;
    width: 450px;
    height: 50px;
    padding-right: 10px;

}

.each1 {
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 30px;
    font-weight: 600;
    text-transform: capitalize;
    margin-right: 10px;
    padding-left: 10px;

}

.each,
.each1 {
    border-radius: 50px;
    border: 1px solid grey;
    outline: none;


}

footer {
    background: #070211;
    margin-right: 200px;
    margin-left: 200px;
}

.location {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    padding-top: 10px;
}

.number {
    color: #FFF;

    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    padding-left: 2000px;
}

.website {
    color: #FFF;

    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    padding-left: 2000px;
}

.copyright {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.unsubscribe {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    display: flex;
    align-items: end;
    justify-content: end;
    padding-right: 20px;
    padding-bottom: 10px;
}


.face {
    align-items: center;
    display: flex;
    justify-content: center;
    padding-bottom: 150px;
}